* {
  margin: 0;
  padding: 0;
  color: #729762;
  font-size: 15px;
}

body {
  background-color: #e7f0dc;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
  width: 50%;
  max-width: 1200px;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 45px;
  font-weight: lighter;
  text-shadow: 2px 2px #597445;
  animation: pop 2s ease-out;
}

@keyframes pop {
    0% { transform: scale(0.5); opacity: 0; }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); opacity: 1; }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.imageContainer, .textContainer {
  width: 50%;
  max-width: 600px;
  cursor: pointer;
}

#current-image {
  width: 100%;
  height: auto;
  border:5px solid #729762;
  border-radius: 15px;
  box-shadow: 4px 4px 0 #597445;
}

#current-text {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}